form{
    width: 90%;
    padding: 20px 20px;
    margin-left: 50px;
}
.form-group{
    color:rgba(3, 2, 12);
    font-family:'Nunito';
    margin-right:auto;
}

.btn{
    margin-top: 0.5cm;
    margin-left:0.5cm;
}
.container{
    display: inline-block;
    width: 100%;
    padding: 20px;
}

